.container_body {
  justify-content: center;
  background-color: #fff;
  padding: 20px;
  width: 100%;
}

.pesquisa_data{
  display: flex;
}

.item {
  width: 33%;
  padding: 5px;
}

.btn {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px 5px;
  background-color: #283618;
  color: #FFF;
  border-radius: 5px;
  text-decoration: none;
  border: none;
}

table, th, td {
  border-bottom: 1px solid black;
}

table {
  border-collapse: collapse;
}
    
th, td{
  width: 100%;
}